<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="">
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.password">tiger</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
		<property name="hibernate.connection.username">scott</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<mapping class="com.cityproperties.domain.BusinessAssociate"
			resource="com/cityproperties/domain/BusinessAssociate.hbm.xml" />
		<mapping class="com.cityproperties.domain.Client" 
			resource="com/cityproperties/domain/Client.hbm.xml" />
		<mapping class="com.cityproperties.domain.ClientPrivilege"
			resource="com/cityproperties/domain/ClientPrivilege.hbm.xml" />
		<mapping class="com.cityproperties.domain.LetterContent"
			resource="com/cityproperties/domain/LetterContent.hbm.xml" />
		<mapping class="com.cityproperties.domain.LetterTemplate"
			resource="com/cityproperties/domain/LetterTemplate.hbm.xml" />
		<mapping class="com.cityproperties.domain.MailRecord"
			resource="com/cityproperties/domain/MailRecord.hbm.xml" />
		<mapping class="com.cityproperties.domain.MailType" 
			resource="com/cityproperties/domain/MailType.hbm.xml" />
	</session-factory>
</hibernate-configuration>
